          <div class="nav">
            <div class="forbackbtn">
              <div class="sec2btn backward"><img src="/images/backwards.png" alt="" onclick="goBackwards()"></div>
              <div class="sec2btn forward"><img src="/images/forwards.png" alt="" onclick="goForwards()"></div>
            </div>
            <div class="profile"><img src="/images/profile.jpg" alt=""></div>
          </div>
          <div class="mainScreen">
            <div class="playlistInfo">
                <% if(currentPlaylistPoster){%>
                    <img src="<%= currentPlaylistPoster %>" alt="">
                <%}
                else{%>
                    <img src="https://i.pinimg.com/564x/c6/df/56/c6df5688e0013bf4168fc39a8465e2bd.jpg" alt="">
                <%}%>
                <div class="textInfo">
                    <h4>Playlist</h4>
                    <h1><%= currentPlaylistName %></h1>
                    <div class="details">
                        <div class="profilePic"><img src="/images/profile.jpg" alt=""></div>
                        <h4 class="username"><%= current_username %></h4>
                        <div class="dot"></div>
                        <% if(currentPlaylistName!='Liked Songs'){%>
                            <h4><%= numberOfSongs %> song(s)</h4>
                        <%}
                        else{%>
                            <h4><%= likedSongsCount %> song(s)</h4>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="songSection">
              <div class="nav">
                <div class="playpausebtn <%= playlist_id %>" onclick="playPlaylist()">
                  <img src="/images/play-button.png" alt="">
                </div>
                <div class="shuffle">
                  <img src="/images/arrow.png" alt="">
                </div>
              </div>
              <div class="songs">
                <div class="heading">
                  <h4>#</h4>
                  <h4>Title</h4>
                  <img src="/images/time.png" alt="" style="filter:brightness(150%)">
                </div>
                <% let count=1;
                let minDurations=[];
                let array=result;
                function convertDecimalToTime(decimalValue) {
                  const hours = Math.floor(decimalValue);
                  const minutes = Math.round((decimalValue % 1) * 60);
                
                  const formattedTime = `${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
                  return formattedTime;
                }
                Durations[0].forEach((element) => {// converting seconds to minutes upto 2 decimal values
                  minDurations.push(convertDecimalToTime(Number((element/60).toFixed(2))));
                })
                if(currentPlaylistName=="Liked Songs"){
                  array=altresult;
                }
                array.forEach((element,index) => {%>
                  <div class="element <%= element.song_id %>" onclick="playSongs()">
                    <h5><%= count %></h5>
                    <div class="songName">
                      <img src="<%= element.song_poster %>" alt="">
                      <div class="songInfo">
                        <h4><%= element.song_name %></h4>
                        <h5 class="fade"><%= element.artist_name %></h5>
                      </div>
                    </div>
                    <h5><%= minDurations[index] %></h5>
                  </div>
                <% count++}); %>
              </div>
            </div>
          </div>
          <script>
            var playFlagValue = $(".playFlag").text().trim().toLowerCase();
            if (playFlagValue == "true") {
              $(`.sec2 .mainScreen .songSection .nav .${current_playlist_id}>img`).attr('src','/images/pause-button.png');
              $(`.sec2 .mainScreen .songSection .nav .${current_playlist_id}>img`).css('margin-left','0');
            }
            $(`.sec2 .mainScreen .songSection .nav .${id}>img`).attr('src','/images/pause-button.png');
            $(`.sec2 .mainScreen .songSection .nav .${id}>img`).css('margin-left','0');
          </script>