<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
  </head>
  <body>
    <div class="wrapper">
      <div class="sec sec1">
        <div class="nav">
          <a href="/" class="home">
            <img src="/images/home.png" alt="" />
            <div class="text">Home</div>
          </a href="/">
          <a href="/getSearch" class="search">
            <img src="/images/loupe.png" alt="" />
            <div class="text">Search</div>
          </a href="/getSearch">
        </div>
        <div class="library">
          <div class="title">
            <div>
              <img src="/images/library.png" alt="" />
              <h4>Your Library</h4>
            </div>
            <button class="add"><img src="/images/plus.png" alt="" /></button>
          </div>
          <div class="list">
            <% for(let i=0;i<playlist.length;i++){ %>
            <a href="/playlist?q=<%= playlist[i] %>" class="element <%= playlist[i] %>.replace(/\s/g, '')">
              <div class="poster">
                <img src="<%= poster[i] %>" alt="">
              </div>
              <div class="info">
                <h4 class="name playlistName"><%= playlist[i] %></h4>
                <h5 class="name text">Playlist <div class="dot"></div> <%= current_username %></h5>
              </div>
            </a>
            <% } %>
            <a href="/playlist?q=Liked Songs" class="element LikedSongs">
              <div class="poster">
                <img src="https://i.pinimg.com/564x/c6/df/56/c6df5688e0013bf4168fc39a8465e2bd.jpg" alt="">
              </div>
              <div class="info">
                <h4 class="name playlistName">Liked Songs</h4>
                <h5 class="name text">Playlist <div class="dot"></div> <%= likedSongsCount %> Songs</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="sec sec2">
        <div class="nav">
          <div class="forbackbtn">
            <div class="sec2btn backward"><img src="/images/backwards.png" alt="" onclick="goBackwards()"></div>
            <div class="sec2btn forward"><img src="/images/forwards.png" alt="" onclick="goForwards()"></div>
            <input type="text" id="searchInput" oninput="search()" placeholder="What do you want to listen?">
          </div>
          <div class="profile"><img src="/images/profile.jpg" alt=""></div>
        </div>
        <h3 class="topResults">Top Result</h3>
        <div class="results"></div>
      </div>
      <div class="flag" style="display:none"><%= flag %></div>
      <div class="sec sec3"></div>
      <div class="sec sec4">
        <audio controls>
          <source src="" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <script src="/scripts/script.js"></script>
  </body>
</html>
